@page "/"
@inject IJSRuntime JS

<div id="container">
    <div id="output-div">
        <pre id="output-box">@output</pre>
    </div>
    <div id="input-div">
        <input id="input-box" type="search" autocomplete="off" spellcheck="false" @bind="input" @bind:event="oninput" @onkeydown="OnKeyDown" @onkeypress="OnKeyPress"/>	
    </div>
</div>

@using Intf
@code {
    private string input;
    private string output = "Press Enter to Start.";
    private bool playing = false;
    private World world;

    private void OnKeyDown(KeyboardEventArgs args)
    {
        if (args.Code == "Enter")
        {
            if (!playing)
            {
                world = AlgiersWorld.SetWorld();
                output = world.start + Parser.Clear;
                playing = true;
            }
            else if (!world.done)
            {
                string response = "";
                output += ">" + input + Parser.Clear;

                if (world.state == "play")
                {
                    response = Parser.Parse(input, world);
                }

                else if (world.state == "quit")
                {
                    if (input == "y" || input == "yes")
                    {
                        world.done = true;
                        response = "You decide nothing is really worth doing today. You make your way to your balcony and look out onto the city, watching life pass by. It is a beautiful night in Algiers.";
                    }
                    else if (input == "n" || input == "no")
                    {
                        world.state = "play";
                        response = "You seem to have lost your train of thought. Were you in the middle of something?";
                    }
                    else
                    {
                        response = "Are you sure you want to give up? (yes/no)";
                    }
                }

                output += response + Parser.Clear;
                input = "";
            }
        }
    }

    private async void OnKeyPress(KeyboardEventArgs args)
    {
        if (args.Code == "Enter")
        {
            await JS.InvokeVoidAsync("scrollTerminal");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("focusInput");
        }
    }
}
